body {
    background-color: rgb(241, 253, 240);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    margin: 15px;
}
.nav {
    list-style: none;
    text-align: center;
}
.nav li {
    display: inline;
    margin-right: 20px;
}
.container {
    width: 1000px;
    margin: 0 auto;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    background-color: rgb(221, 240, 217);
}
a:link {
    color: rgb(95, 136, 95);
}
a:visited {
    color: rgb(61, 97, 66);
}
h1 {
    color:rgb(87, 117, 90);
}
h2 {
    color:rgb(131, 152, 133);
}

.basic {
    list-style: circle;
    font-size: 14px;
    color:rgb(89, 110, 91);
}
.add_ons {
    font-size: 12px;
    color: rgb(89, 110, 91);
    line-height: 5px;
}
.other_text {
    color:rgb(89, 110, 91);
    font-size: 14px;
}
.class_heading {
    font-size: 30px;
    color:rgb(122, 157, 126);
    font-family: cursive;
    text-shadow: 2px 2px 4px rgb(130, 161, 135);
}
button {
    background-color: rgb(225, 239, 226);
    border: solid rgb(188, 206, 188) 1px;
    border-radius: 4px;
    padding:4px;
    color: rgb(69, 87, 71);
}